<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wz.dao.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.wz.pojo.Customer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="linkman" jdbcType="VARCHAR" property="linkman" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="idcard_url" jdbcType="VARCHAR" property="idcardUrl" />
    <result column="business_url" jdbcType="VARCHAR" property="businessUrl" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="approve_status" jdbcType="INTEGER" property="approveStatus" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  
 <!--  查找用户购买商品map -->
  <resultMap type="com.wz.pojo.Customer" id="ProductListMap" extends="BaseResultMap">
	<collection property="orderList" column="id"
				ofType="com.wz.pojo.Order">
				<!-- id:唯一标识 property：要将订单明细的唯一标识映射到com.mybatis.entity.OrderDetail的那个属性 -->
				<id column="OrderId" property="id" />
				<result column="permission" property="permission" />
			</collection>
  
  </resultMap>
  
  <sql id="Base_Column_List">
    id, shop_name, province, city, area, address, linkman, password, idcard_url, business_url, 
    mobile, status, approve_status, gmt_create, gmt_update, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from a_customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!--   查找用户(条件) -->
   <select id="find" parameterType="com.wz.dto.FindCustomerDto" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from a_customer
   <where>
   
   <if test ="id!=null">
    id = #{id}
   </if>
   
   <if test = "status!=null">
   AND status = #{status}
   </if>
   
   <if test = "approveStatus!=null">
   AND approve_status = #{approveStatus}
   </if>
   
    <if test = "mobile!=null">
   AND mobile = #{mobile}
   </if>
   
    <if test = "city!=null">
   AND city = #{city}
   </if>
   
    <if test = "isDelete!=null">
   AND is_delete = #{isDelete}
   </if>
   
   <if test = "shopName!=null">
   AND shop_name  LIKE CONCAT(CONCAT('%', #{shopName}), '%')
   </if>
   </where>
  ORDER BY gmt_create DESC LIMIT #{page.start}, #{page.pageItemCount}  
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from a_customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wz.pojo.Customer">
    insert into a_customer (id, shop_name, province, 
      city, area, address, 
      linkman, password, idcard_url, 
      business_url, mobile, status, 
      approve_status, gmt_create, gmt_update, 
      is_delete)
    values (#{id,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{linkman,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{idcardUrl,jdbcType=VARCHAR}, 
      #{businessUrl,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{approveStatus,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtUpdate,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wz.pojo.Customer">
    insert into a_customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="linkman != null">
        linkman,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="idcardUrl != null">
        idcard_url,
      </if>
      <if test="businessUrl != null">
        business_url,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="approveStatus != null">
        approve_status,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtUpdate != null">
        gmt_update,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="idcardUrl != null">
        #{idcardUrl,jdbcType=VARCHAR},
      </if>
      <if test="businessUrl != null">
        #{businessUrl,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="approveStatus != null">
        #{approveStatus,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wz.pojo.Customer">
    update a_customer
    <set>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="idcardUrl != null">
        idcard_url = #{idcardUrl,jdbcType=VARCHAR},
      </if>
      <if test="businessUrl != null">
        business_url = #{businessUrl,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="approveStatus != null">
        approve_status = #{approveStatus,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wz.pojo.Customer">
    update a_customer
    set shop_name = #{shopName,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      idcard_url = #{idcardUrl,jdbcType=VARCHAR},
      business_url = #{businessUrl,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      approve_status = #{approveStatus,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getByMobile" resultMap="BaseResultMap">
    SELECT
    	*
    FROM a_customer
    WHERE mobile = #{mobile}
    AND is_delete = 0
  </select>
  
  <update id ="updateStatus" >
   update a_customer 
   <set>
   <if test = "status!=null">
   status = #{status}
   </if>
   <where>
   id = #{id}
   </where>
     </set>
  </update>
  
  <update id ="registApprove" >
   update a_customer
   <set>
   <if test = "approveStatus!=null">
   approve_status = #{approveStatus}
   </if>
   <where>
   id = #{id}
   </where>
     </set>
  </update>
   
   
</mapper>