<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
<script type="text/javascript"
	th:src="@{/static/js/jquery-1.8.0.min.js}"></script>
<script th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript">
	var ctx = '/yuejian-agent';
</script>

<style>
.sum {
	float: right;
	margin: 3px 30px;
	font-size: 16px;
}

.layui-table td {
	height: 80px;
}
</style>
</head>
<body>
	<div class="layui-btn-group demoTable"
		style="float: right; background: rgb(0, 150, 136);"
		onclick="btnClick();">
		<button data-method="offset" data-type="auto" class="layui-btn">
			<i class="layui-icon">&#xe654;</i>新增广告
		</button>
	</div>
	<!-- <table id="tableData" class="layui-table" lay-filter="tableData"> </table> -->
	<table class="layui-table">
		<colgroup>
			<col width="150">
			<col width="200">
			<col>
		</colgroup>
		<thead>
			<tr>
				<th>昵称</th>
				<th>加入时间</th>
				<th>签名</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>贤心</td>
				<td>2016-11-29</td>
				<td>人生就像是一场修行</td>
			</tr>
			<tr>
				<td>许闲心</td>
				<td>2016-11-28</td>
				<td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
			</tr>
		</tbody>
	</table>

	<!-- 弹出框页面 -->
	<div id="openWindow" modal="true" shadow="true" minimizable="false"
		cache="false" maximizable="true" collapsible="true" resizable="true"
		style="margin: 0px; padding: 0px; overflow: hidden"></div>
</body>
</html>
<script type="text/javascript">
	$(function() {
		console.log("data:");
		find();
	});

	function find() {
		$.ajax({
			type : "POST",
			url : "http://192.168.18.127:9802/wz-glassesmg/api/customer/find",
			data : {"pageIndex":1, "pageItemCount":10},
			success : function(data) {
				console.log("data:");
				console.log(data);
			}
		});
	}
</script>
